{% extends "blog/base.html" %}




{% load static %}
{% block title %}<title>One Man Show - Про мене</title>{% endblock %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/sergiy-popov.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for title in descr %}
          <div class="page-heading">
            <h1>{{ title.title }}</h1>
            <span class="subheading">{{ title.subtitle }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for description in descr %}
          <p>{{ description.text|safe }}</p>
          {% endfor %}
      </div>
    </div>
  </div>

  <hr>

{% endblock %}
