{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>One Man Show - Головна</title>{% endblock %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>One Man Blog</h1>
            <span class="subheading">A blog by the Man himself</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}
                <div class="post-preview">
                  <a href="detail.html">
                    <h2 class="post-title">
                      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h2>
                    <h3 class="post-subtitle">
                      {{ post.body|truncatewords:10|linebreaks }}
                    </h3>
                  </a>
                  <p class="post-meta">Опубліковано {{ post.publish }} автором {{ post.author }}</p>
                </div>
                <hr>
            {% endfor %}
              {% include "pagination.html" with page=page_obj %}
      </div>
    </div>
  </div>
  <hr>
  {% endblock %}


