{% extends "blog/base.html" %}
{#{% block title %}{{ post.title }}{% endblock %}#}
{#{% block content %}#}
{#    <h1>{{ post.title }}</h1>#}
{#    <p class="date">#}
{#        Опубліковано {{ post.publish }} автором {{ post.author }}#}
{#    </p>#}
{#{{ post.body|linebreaks }}#}
{#{% endblock %}#}

{% load static %}
{% block title %}<title>One Man Show - {{ post.title }}</title>{% endblock %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading"></h2>
            <span class="meta">Опубліковано {{ post.publish }} автором {{ post.author }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ post.body|linebreaks }}</p>
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}

